= emblem_template "application"
= emblem_template "law"
= emblem_template "laws"
= emblem_template "menu"
= emblem_template "game"
= emblem_template "mission"
= emblem_template "vote_count"
= emblem_template "vote_count_minimal"
= emblem_template "elect"